body {
    background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  /* animation: bgcolor infinite 20s; */
}
/* @keyframes bgcolor */
/* 0% */
/* { */
/* background: #2d3436; */
/* } */