body {
    background-color: green;
  color: #808e9b;
  margin: 0;
  padding: 0;
  /* animation: bgcolor infinite 20s; */
}
/* @keyframes bgcolor */
/* 0% */
/* { */
/* background: #f5cd79; */
/* } */